DebugGame*
*Shipping*
**/Intermediate
**/Saved
/.vs
**/Build
**/Builds
*.sln
*.pdb

#build ignore
##Windows
*.exe
*.exp
Binaries/**/*.lib
*.target

##Android
Binaries/Android/**
Hub_Spacel/.vs/
Hub_Spacel/Binaries/Win64/Hub_Spacel.lib
Hub_Spacel/Binaries/
Package/
spacescape-tool/
Hub_Spacel/DerivedDataCache/
Hub_Spacel/Plugins/GameLiftServerSDK/Binaries/
Hub_Spacel/Plugins/FMODStudio/Binaries/
